<!DOCTYPE html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-array.v2.min.js"></script>
    <script src="https://d3js.org/d3-shape.v2.min.js"></script>
    <title>Print Sprays</title>
</head>
<html>
<body>
  <div id = body>
    <div id = plots>
    </div>
  </div>
</body>
</html>

<style>

.field{
  margin: 14px;
}

.ofWedge, .infWedge{
  stroke: black;
}

#body{
  font-family: trebuchet MS;
  text-align: center;
}

</style>

<script src="{{url_for('static', filename='makeSpray.js')}}"></script>
<script>
var plays = {{plays|safe}}
var statsAll = {{stats|safe}}
var names = {{names|safe}}
if(plays.length > 0){
  for(i = 0; i < names.length; ++i){
    names[i]
    player = plays.filter(function(d){
      return d.FULL_NAME == names[i].FULL_NAME
      & d.OUTCOME != null & d.OUTCOME != 'null'
    })

    statPlayer = statsAll.filter(function(d){
      return d.FULL_NAME == names[i].FULL_NAME
    })

    if(player.length > 0){
      d3.select('#plots').append('div').append('svg').attr('class', 'field').attr('width', '650').attr('height', '420').attr('id', 'field'+i)
      name = player[0].FULL_NAME
      num = player[0].NUMBER
      bats = player[0].BATS
      makeSpray(player, name, num, String('#field'+i), statPlayer, 0, 1, bats)
    }
  }
  setTimeout(function(){ print(); }, 1000)
}else{
  $('#body').html("<span style = 'font-size: 30px; margin-top: 30px;'>No Plays Found.</span>")
  $('body').css('background-color', 'white')
}




</script>
