<!DOCTYPE html>
<head>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-array.v2.min.js"></script>
    <script src="https://d3js.org/d3-shape.v2.min.js"></script>
    <title>Print Sprays</title>
  </head>
</head>
<html>
<body>
  <div id = body>
    {% for key in keys %}
    <div>
      <svg class = field height=420 width=650 id = field{{key}}> </svg>
    </div>
    {% endfor %}
  </div>
</body>
</html>

<style>

.field{
  margin: 14px;
}

.ofWedge, .infWedge{
  stroke: black;
}

#body{
  font-family: trebuchet MS;
  text-align: center;
}

</style>

<script src="{{url_for('static', filename='makeSpray.js')}}"></script>
<script>
var plays = {{plays|safe}}
var keys = {{keys|safe}}
var statsAll = {{stats|safe}}
if(plays.length > 0){
  for(key of keys){
    player = plays.filter(function(d){
      return d.BATTER_PLAYER_KEY == key
      & d.OUTCOME != null & d.OUTCOME != 'null'
    })

    statPlayer = statsAll.filter(function(d){
      return d.PLAYER_KEY == key
    })

    if(player.length > 0){
      var svg = '#field'+key
      name = player[0].FULL_NAME
      num = player[0].NUMBER
      makeSpray(player, name, num, svg, statPlayer,0,0)
    }else{
      $('#field'+key).remove()
    }
  }
  setTimeout(function(){ print(); }, 1000)
}else{
  $('#body').html("<span style = 'font-size: 30px; margin-top: 30px;'>No Plays Found.</span>")
  $('body').css('background-color', 'white')
}



</script>
