<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} Spray Charts {% endblock %}

{% block content %}
<html>
  <div hidden class="success banner">  </div>
  <div hidden class="failure banner">  </div>
  <div hidden class="wait banner">  </div>
  <div hidden class="use banner">  </div>
  <div id = body>
  <div id = headCont>
      <div id = name>  </div>
      <div id = search><input id =  searchTeam type="text" placeholder="Select Team..."></div>
  </div>
  <div id = updateDiv>
    <table id = teamTable>
      <tr class = scaf>
        <!-- <th class = scaf >  </th> -->
        <th class = scaf colspan="1"> <span class = 'seasonSpan sea{{years[0]}} selectedSpan'> {{years[0]}} </span> </th>
        <th class = scaf colspan="1"> <span class = 'seasonSpan sea{{years[1]}}'> {{years[1]}} </span> </th>
        <th class = scaf colspan="1"> <span class = 'seasonSpan sea{{years[2]}}'> {{years[2]}} </span> </th>
      </tr>
      <!-- <tr class = head>
        <th class = 'head team'> TEAM </th>
        <th class = 'head' > ROSTER </th>
        <th class = 'head plays'> PLAYS </th>
        <th class = 'head'> ROSTER </th>
        <th class = 'head plays'> PLAYS </th>
        <th class = 'head'> ROSTER </th>
        <th class = 'head plays'> PLAYS </th>
      </tr> -->
      <tr>
      <tbody id = teamBody>
      </tbody>
      </tr>
    </table>
  </div>
  <div id = container>
    <div id = rosterDiv>
      <span hidden id = printAll> Print All </span>
      <span id = teamName> No Team Selected </span>
      <table id = roster>
      </table>
    </div>
    <div id = fieldDiv>
      <svg id = field height=450 width=650> </svg>
      <div hidden id = playDiv>
        <table id = playTable>
        </table>
      </div>
    </div>
  </div>
  <div hidden id = toolTip> </div>
</div>

<div hidden id = textTip> </div>

</html>

<style>
#selectText{
  text-anchor: middle;
  font-size: 40px;
}

th.scaf{
  background-color: slategray !important;
  font-size: 35px !important;
  border: 1px solid slategray;
  color: rgb(254, 246, 235);
  letter-spacing: 4px;
  text-align: center;
  border: 1px solid slategray;
}

.selectedSpan{
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.seasonSpan:hover{
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

th.head{
  border:none !important
}

tr.head{
  border: 1px solid slategray
}

th.team{
  width: 28%
}

th.ros{
  width: 12%;
}

th.plays{
  width: 12%;
}

.upd{
  font-size: 40px;
  cursor: pointer;
  display: inline-block;
}

.upd:hover{
  font-weight: bold;
  color: slategray;
  text-decoration: underline
}


.progress{
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}


#teamTable td, #teamTable th{
  text-align: center;
  border: 1px solid slategray;
  font-size: 20px;
}
#teamTable tr{
  background-color: rgb(254, 246, 235)
}
#teamTable tr:nth-child(2n){
  background-color: lightgray !important
}

#teamTable tr:not(.scaf):not(.head):hover{
  border: 2px solid slategray !important
}

#teamTable{
  clear: both;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 0px 10px slategray;
  margin-top: 10px;
}

#teamBody{
  height: 80px;
  width: 100%;
  overflow: scroll;
}


.done{
  background-color: rgb(102, 204, 145);
  color: rgb(254, 246, 235)
}

.success{
  background-color: rgb(102, 204, 145);
  color: black;
  z-index: 10;
}

.failure{
  background-color: red;
  color: black;
  z-index: 10;
}

.wait{
  background-color: lightgray;
  color: black;
  z-index: 1;
}

.use{
  background-color: orange;
  color: black;
  z-index: 10;
}

.dataTab{
  float:left;
  padding: 20px;
  font-size: 12px;
  border-collapse: separate;
  text-align: center
}

.dataTab td{
  text-align: center;
  padding: 3px
}

.dataDiv{
  padding: 10px;
  text-align: center
}

#toolTip{
  position: absolute;
  background-color:  rgb(254, 246, 235);
  border: 2px solid slategray;
  border-radius: 6px;
}

#printAll{
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer
}

#printAll:hover{
  text-decoration: underline
}

#textTip{
  max-width: 400px;
  background-color: lightgray;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  padding: 10px;
  position: absolute;
}
#headCont{
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: baseline
}

#teamName{
  font-size: 36px;
  font-weight: bold
}


#field{
  /* border-radius: 5px; */
  border: 2px solid slategray;
  background-color: rgb(254, 246, 235);
}


.selected{
  background-color: rgb(254, 246, 235);
  color: slategray;
}

#container{
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 1200px){
  #container{
    flex-direction: column;
    justify-content: space-evenly;
  }
  #body{
    width: 650px !important;
    margin-left: 15% !important;
    text-align: center;
    min-width: 650px;

  }
  #rosterDiv{
    max-height: 200px!important;
    margin: auto;
  }

  #playDiv{
    max-height: 200px!important;
  }

  #fieldDiv{
    margin:auto;
  }

  #headTable{
    width: 650px;
    margin: auto;
  }

}



#rosterDiv{
  position: relative;
  text-align: center;
  border: 2px solid rgb(254, 246, 235);
  background-color: slategray;
  color: rgb(254, 246, 235);
  /* border-radius: 5px; */
  box-shadow: 0px 0px 5px gray;
  margin-bottom: 20px;
  max-height: 450px;
  overflow-y: scroll;
  width: 650px;
  margin-right: 10px;
}


#roster{
  border-collapse: collapse;
  width: 96%;
  margin-left: 2%;
  font-weight: normal;
}


#roster td{
  padding: 5px;
  font-size: 20px;
}

#roster tr{
  padding: 5px;
  border-bottom: 1px solid rgb(254, 246, 235);
}

#roster tr.row:hover{
  background-color: rgb(254, 246, 235);
  color: slategray;
  cursor: pointer;
}

.selected .print{
  color: black
}

#playDiv{
  text-align: center;
  border: 2px solid rgb(254, 246, 235);
  background-color: slategray;
  color: rgb(254, 246, 235);
  /* border-radius: 5px; */
  box-sizing: 0px 0px 5px gray;
  margin-top: 20px;
  max-height: 200px;
  overflow-y: scroll;
  width: 650px;
}


#playTable{
  border-collapse: collapse;
  width: 96%;
  margin-left: 2%;
  font-weight: normal;
  margin:2px;
}


#playTable td{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}


#playTable tr{
  border-bottom: 1px solid rgb(254, 246, 235);
  padding: 5px;
}


#body{
  width: 98%;
  margin-left: 1%
}

#name{
  vertical-align: bottom;
  font-size: 40px;
  font-weight: bold
}

#search{
  text-align: right;
}

#searchTeam{
  vertical-align: bottom;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 3px;
  width: 250px;
  box-shadow: 0px 0px 5px slategray;
  background-color: rgb(254, 246, 235)
}


.infWedge, .ofWedge{
  stroke: black;
  cursor: pointer
}

.selectedWedge{
  stroke-width: 3 !important;
}

.banner{
  width: 100%;
  position: fixed;
  top: 0px;
  height: 70px;
  line-height: 70px;
  text-align: left;
  padding-left: 20px;
  font-size: 30px;
}

.plRow:hover{
  background-color: rgb(254, 246, 235);
  color: slategray;
  cursor: pointer
}



</style>


<script>
  const init = {{data|safe}}
  const years = {{years|safe}}
  const teams = init.map(function(d){ return {'label': d.NAME, 'value': {'key': d.TEAM_KEY, 'name': d.NAME}}})
  const teams2 = init.map(function(d){ return d.NAME})

  $('#searchTeam').click(function(d){
      $("#searchTeam").val('')
  });

  $('body').click(function(d){
      $('#toolTip').hide()
  });

  $('.seasonSpan').click(function(){
    $('.seasonSpan').each(function(){
      $(this).removeClass('selectedSpan')
    })
    $(this).addClass('selectedSpan')
    addData($(this).text().replace(/\s+/g,''), $(this).attr('data-key'), $(this).attr('data-name'))
  })

  function addRows(data){
      name = data[0].NAME
      $('.seasonSpan').each(function(){
        $(this).attr('data-key', data[0].TEAM_KEY)
        $(this).attr('data-name', data[0].NAME)
      })
      d3.select('#teamBody')
      .selectAll('tr.row')
      .data(data, function(d){ return d.TEAM_KEY})
      .enter()
      .append('tr')
      .attr('class', 'row')

      // d3.selectAll('tr.row')
      // .append('td').html(function(d){ return d.NAME })

       // d3.selectAll('tr.row')
       // .append('td')
       // .attr('class', function(d){ return d.ROS_0 == 0 ? "" : 'done'})
       // .html(function(d){ return `<div class = upd data-col = ros data-key = ${d.TEAM_KEY} data-name = '${d.NAME}' data-year = {{years[0]}}>&#8634; </div>`} )

       d3.selectAll("tr.row")
       .append("td")
       .attr("class", function(d){ return d.PBP_0 == 0 ? "" : "done"})
       .html(function(d){return `<div class = upd data-col = pbpT data-key = ${d.TEAM_KEY} data-name = '${d.NAME}' data-year = {{years[0]}}>&#8634; </div>`})

       // d3.selectAll("tr.row")
       // .append("td")
       // .attr("class", function(d){ return d.ROS_1 == 0 ? "" : "done"})
       // .html(function(d){ return `<div class = upd data-col = ros data-key = ${d.TEAM_KEY} data-name = '${d.NAME}' data-year = {{years[1]}}>&#8634; </div>`})


       d3.selectAll("tr.row")
       .append("td")
       .attr("class", function(d){ return d.PBP_1 == 0 ? "" : "done"})
       .html(function(d){return `<div class = upd data-col = pbpT data-key = ${d.TEAM_KEY} data-name = '${d.NAME}' data-year = {{years[1]}}>&#8634; </div>`})


       // d3.selectAll("tr.row")
       // .append("td")
       // .attr("class", function(d){ return d.ROS_2 == 0 ? "" : "done"})
       // .html(function(d){ return `<div class = upd data-col = ros data-key = ${d.TEAM_KEY} data-name = '${d.NAME}' data-year = {{years[2]}}>&#8634; </div>`})


       d3.selectAll("tr.row")
       .append("td")
       .attr("class", function(d){ return d.PBP_2 == 0 ? "" : "done"})
       .html(function(d){return `<div class = upd data-col = pbpT data-key = ${d.TEAM_KEY} data-name = '${d.NAME}' data-year = {{years[2]}}>&#8634; </div>`})

       function toolTip(el, ev){
         // clearTimeout()
         $('#toolTip').css('top', 0).css('left', 0)
         $("#toolTip").empty()
         child = $(el)
         var col = child.data('col')
         var key = child.data('key')
         var year = child.data('year')
         $.get(Flask.url_for('getData', {key: key, year: year, type: col}), function(data){
           if(data.length > 0){
             if(col == 'ros'){
               $("#toolTip").empty()
               data = JSON.parse(data)
               $('#toolTip').show()
               if(window.innerWidth < 1200){
                 x = ev.clientX > 500 ? (ev.pageX - 450) : (ev.pageX + 30)
               }else{
                 x = ev.clientX > 750 ? (ev.pageX - 450) : (ev.pageX + 30)
               }
               y = ev.clientY > 300 ? ev.clientY > 400 ? (ev.pageY - 400) : (ev.pageY - 200) : (ev.pageY)
               $('#toolTip').css('left', x+'px').css('top', y+'px')
               let pitchers = data.filter(function(d){ return d.POSITION == 'P'})
               let pos = data.filter(function(d){ return d.POSITION != 'P'})

               d3.select('#toolTip')
               .append('table')
               .attr('class', 'dataTab')
               .selectAll('tr.pit')
               .data(pitchers)
               .enter()
               .append('tr')
               .attr('class', 'pit')

               d3.selectAll('tr.pit')
               .append('td').html(function(d){ return d.FULL_NAME })
               .style('font-weight', 'bold')

                d3.selectAll('tr.pit')
                .append('td')
                .html(function(d){ return d.POSITION} )

                // d3.selectAll('tr.pit')
                // .append('td')
                // .html(function(d){ return d.NUMBER} )

                d3.selectAll('tr.pit')
                .append('td')
                .html(function(d){ return d.CLASS} )

                d3.select('#toolTip')
                .append('table')
                .attr('class', 'dataTab')
                .selectAll('tr.pos')
                .data(pos)
                .enter()
                .append('tr')
                .attr('class', 'pos')

                d3.selectAll('tr.pos')
                .append('td').html(function(d){ return d.FULL_NAME })
                .style('font-weight', 'bold')

                 d3.selectAll('tr.pos')
                 .append('td')
                 .html(function(d){ return d.POSITION} )

                 // d3.selectAll('tr.pos')
                 // .append('td')
                 // .html(function(d){ return d.NUMBER} )

                 d3.selectAll('tr.pos')
                 .append('td')
                 .html(function(d){ return d.CLASS} )


             }else if(col == 'pbpT'){
               $("#toolTip").empty()
               data = JSON.parse(data)
               $('#toolTip').show()
               x = ev.pageX - 50
               y = ev.pageY + 30
               $('#toolTip').css('left', x+'px').css('top', y+'px')
               let date = d3.max(data.map(function(d){ return d.DATE_KEY }))
               let maxDate = '<span style = "font-weight: bold"> Most Recent Game: </span><br>'+
               String(date).substring(4,6)+'-'+String(date).substring(6,8)+'-'+String(date).substring(0,4)
               d3.select('#toolTip')
               .append('div')
               .attr('class', 'dataDiv')
               .html(maxDate)
             }
             // setTimeout(function(){
             //   $("#toolTip").hide()
             //   $("#toolTip").empty() }
             //  , 20000)
           }
         })
       }

       $('.done .upd').on('mouseenter', function(e){toolTip(this, e)})

       $('.done').on('mouseout', function(d){
         $("#toolTip").hide()
         $("#toolTip").empty()
       })

       $('.upd').click(function(d){
         $('#teamBody').css("pointer-events", "none")
         var loader = $(this)
         var col = $(this).data('col')
         var key = $(this).data('key')
         var year = $(this).data('year')
         var str = `{{url_for('scrapeRoster')}}?team=${key}&year=${year}`
         loader.addClass('progress')
         $('.wait').text("Gathering data. This may take a few minutes. Don't refresh the page.")
         $('.wait').slideDown()
         $.get(str, function(data){
           if(data == 'no'){
             console.log('no roster here')
             loader.parent('td').css('background-color', 'red')
              $('.failure').text('No roster found. Contact site administrator if this is an error.')
              $('.failure').slideDown()
              setTimeout(function(){ $('.banner').slideUp('slow') }, 2000)
              loader.removeClass('progress')
              $('#teamBody').css("pointer-events", "auto")
           }else if(data == 'use'){
             loader.parent('td').css('background-color', 'orange')
              $('.use').text('Other user updating DB currently. Try again in a minute.')
              $('.use').slideDown()
              setTimeout(function(){ $('.banner').slideUp('slow') }, 2000)
              loader.removeClass('progress')
              $('#teamBody').css("pointer-events", "auto")
           }else{
             let team = init.filter(function(d){ return d.TEAM_KEY == key})[0].NAME
             strP = `{{url_for('scrapePlays')}}?team=${key}&year=${year}`
             $.get(strP, function(p){
               if(p == 'no'){
                 console.log('no data here')
                 loader.parent('td').css('background-color', 'red')
                  $('.failure').text('No data found. Contact site administrator if this is an error.')
                  $('.failure').slideDown()
               }else if(p == 'no games'){
                 loader.parent('td').css('background-color', 'red')
                  $('.failure').text('No games played this season.')
                  $('.failure').slideDown()
               }else if(p == 'use'){
                 loader.parent('td').css('background-color', 'orange')
                  $('.use').text('Other user updating DB currently. Try again in a minute.')
                  $('.use').slideDown()
               }else{
                 let team = init.filter(function(d){ return d.TEAM_KEY == key})[0].NAME
                 loader.parent('td').addClass('done')
                 loader.parent('td').css('background-color', 'rgb(102, 204, 145)').css('color', 'white')
                 $('.success').text(`${team + ' ' + year + ' '} data loaded successfully.` )
                 $('.success').slideDown()
                 $('.done .upd').on('mouseenter', function(e){toolTip(this, e)})
                 $('.done .upd').on('mouseout', function(d){
                   $("#toolTip").hide()
                   $("#toolTip").empty()
                 })
                 $('.seasonSpan').each(function(){
                   $(this).removeClass('selectedSpan')
                 })
                 $(`.sea${year}`).addClass('selectedSpan')
                 addData(year, key, name)
               }
               loader.removeClass('progress')
               $('#teamBody').css("pointer-events", "auto")
               setTimeout(function(){ $('.banner').slideUp('slow') }, 2000)
             })
           }

         })
      })
    }


  function addData(year, key, name){
    $("#playTable").empty()
    $('#field').empty()
    $.get(Flask.url_for('getData', {key: key, year: year, type: 'ros'}), function(data){
      if(data.length > 0){
        data = JSON.parse(data)
        $("#teamName").text(name + ' - ' + year)
        $("#roster").empty()
        d3.select('#roster').append('tr')
        .html("<th>Name</th><th>Pos</th><th>Num</th><th>Year</th><th></th>")

        d3.select('#roster')
        .selectAll('tr.plRow')
        .data(data, function(d){ return d.PLAYER_KEY})
        .enter()
        .append('tr')
        .attr('class', 'plRow')
        .on('click', function(d){
          $("#playTable").empty()
          $('#playDiv').hide()
          $('.selected').removeClass('selected')
          $(this).addClass('selected')
          $.get(Flask.url_for('getData', {key: d.PLAYER_KEY, year: d.YEAR, type: 'pbpP'}), function(data){
            data = JSON.parse(data)
            FULL_NAME = d.FULL_NAME
            NUMBER = d.NUMBER
            POSITION = d.POSITION
            FRESH = d.CLASS
            YEAR = d.YEAR
            TEAM_KEY = d.TEAM_KEY
            makeSpray(data, FULL_NAME, NUMBER, POSITION, FRESH, YEAR, TEAM_KEY)
          })
        })

        d3.selectAll('tr.plRow')
        .append('td').html(function(d){ return d.FULL_NAME })

         d3.selectAll('tr.plRow')
         .append('td')
         .html(function(d){ return d.POSITION} )

         d3.selectAll('tr.plRow')
         .append('td')
         .html(function(d){ return d.NUMBER} )

         d3.selectAll('tr.plRow')
         .append('td')
         .html(function(d){ return d.CLASS} )

         d3.selectAll('tr.plRow')
         .append('td')
         .attr('class', 'print')
         .html(function(d){ return "<i class='fa'>&#xf02f</i>"})
         .on('click', function(d){
           if(d3.select(this.parentNode).classed('selected')){
             window.open("{{url_for('printSprays')}}?keys="+d.PLAYER_KEY)
            }
          })
        $('#printAll').show()
        $('#printAll').click(function(){
          keyString = data.map(function(d){ return d.PLAYER_KEY }).join(',')
          window.open("{{url_for('printSprays')}}?keys="+keyString)
        })




      }
    })
  }

  function makeSpray(plays, name, num){

    $("#playTable").empty()
    $('#field').empty()
    d3.selection.prototype.moveToFront = function() {
      return this.each(function(){
        this.parentNode.appendChild(this);
      });
    };
    var colScale = d3.scaleLinear().domain([0,1]).range(['white', 'red'])

    var plays = plays.filter(function(d){ return  d.OUTCOME != null & d.OUTCOME != 'null'})
    let buckets = []
    let hrBuckets = []
    var infPlays = plays.filter(function(d){ return ['3b', 'third base', 'ss', 'shortstop',
    'through the left side', 'up the middle', '2b', 'second base', 'through the right side',
    '1b', 'first base', 'p', 'c'].indexOf(d.LOCATION) > -1})

    var ofPlays = plays.filter(function(d){ return ['lf', 'left', 'lf line', 'left center',
    'cf', 'center', 'rf', 'right', 'rf line', 'right center'].indexOf(d.LOCATION) > -1})

    plays = infPlays.concat(ofPlays)

    infPlaysEx = infPlays.filter(function(d){ return d.LOCATION != 'p' & d.LOCATION != 'c' }).length

    infPlays = infPlays.length
    ofPlays = ofPlays.length


    const locDict = {
      '1': ['3b', 'third base'],
      '2': ['ss', 'shortstop', 'through the left side'],
      '3': ['2b', 'second base', 'through the right side'],
      '4': ['1b', 'first base'],
      '5': ['lf', 'left', 'lf line', 'left center'],
      '6': ['cf', 'center'],
      '7': ['rf', 'right', 'rf line', 'right center'],
      '8': ['up the middle']
    }

    const plotDict = {
      '0': [240,320],
      '1': [295,300],
      '2': [355,300],
      '3': [410,320],
      '4': [165, 200],
      '5': [325, 150],
      '6': [485, 200]
    }

    const hrDict = {
      '4': [125, 80],
      '5': [325, 30],
      '6': [525, 80]
    }

    const outcomes = ['1B', '2B', '3B', 'HR', 'LD','FB', 'GB']

    const stats = ['BA', 'OBP', 'SLG', 'K', 'BB', 'SB', 'CS']

    const outNameMap = {
      '1B': '1B',
      '2B': '2B',
      '3B': '3B',
      'HR': 'HR',
      'LD': 'LO',
      'FB': 'FO',
      'GB': 'GO'
    }

    for(loc in locDict){
      if(loc < 8){
        buckets.push({
         'loc': loc,
         'plays': plays.filter(function(d){return locDict[loc].indexOf(d.LOCATION.replace(';','')) > -1})
        })
        hrBuckets.push({
         'loc': loc,
         'plays': plays.filter(function(d){return locDict[loc].indexOf(d.LOCATION.replace(';','')) > -1 & d.OUTCOME == 'HR'})
        })
      }else{
        middle = plays.filter(function(d){return locDict[loc].indexOf(d.LOCATION.replace(';','')) > -1})
        for(i = 0; i < middle.length; ++i){
          ssRate = (buckets[1].plays.length+buckets[0].plays.length)/(infPlays)
          if(Math.random() < ssRate){
            buckets[1].plays.push(middle[i])
          }else{
            buckets[2].plays.push(middle[i])
          }
        }
      }
    }


    var margins = {'bottom': '10', 'left': '5', 'right': '5', 'top': '10'}
    var height = d3.select('#field').attr('height')
    var width = d3.select('#field').attr('width')
    var field = d3.select('#field').append('g').attr('transform', `translate(${width}, ${height-margins.bottom})`)
    var fieldSVG = d3.select('#field').on('click', function(d){ makeSpray(plays, FULL_NAME, NUMBER)})

    var lfLine = -Math.PI/4
    var fieldWidth = Math.PI/2
    var ofBuckets = 3
    var infBuckets = buckets.length - ofBuckets

      for(var i = 0; i < infBuckets; ++i){
        var start = lfLine+(fieldWidth/infBuckets)*i
        var end = lfLine+(fieldWidth/infBuckets)*(i+1)
        var arc = d3.arc()
          .innerRadius(0)
          .outerRadius(190)
          .startAngle(start)
          .endAngle(end);

        field.append('path')
        .attr('d', arc)
        .attr('transform', `translate(-${width/2}, 0)`)
        .attr('class', 'infWedge')
        .attr('index', i)
        .on('mouseenter', function(d){
          d3.select(this).moveToFront()
          d3.select(this).style('stroke-width', '3')
        })
        .on('mouseout', function(d){
          d3.select(this).style('stroke-width', '1')
        })
        .on('click', function(d){
          event.stopPropagation()
          $('.selectedWedge').removeClass('selectedWedge')
          $(this).addClass('selectedWedge')
          wedgePlays = buckets[$(this).attr('index')].plays.sort(function(a, b){
            return d3.ascending(a.DATE_KEY, b.DATE_KEY)
          })
          $("#playTable").empty()
          $('#playDiv').hide()
          if(wedgePlays.length > 0){
            $('#playDiv').show()
            d3.select('#playTable')
            .selectAll('tr.play')
            .data(wedgePlays)
            .enter()
            .append('tr')
            .attr('class', 'play')

            d3.selectAll('tr.play')
            .append('td').html(function(d){ return String(d.DATE_KEY).substring(4,6)+'-'+String(d.DATE_KEY).substring(6,8)+'-'+String(d.DATE_KEY).substring(0,4) })
            .style('font-weight', 'bold')
            .style('width', '30%')

             d3.selectAll('tr.play')
             .append('td')
             .attr('class', 'playStr')
             .html(function(d){ return d.DESCRIPTION.length > 50 ? d.DESCRIPTION.split(';')[0].substring(0,50) + '...' : d.DESCRIPTION.split(';')[0]})
             .style('width', '70%')
             // .on('mouseenter', function(d){
             //   $('#textTip').css('left', d3.event.pageX-50)
             //   $('#textTip').css('top', d3.event.pageY-50)
             //   d3.select('#textTip').html(d.DESCRIPTION)
             //   $('#textTip').show()
             //
             // })
             // .on('mouseout', function(d){
             //   $('#textTip').hide()
             //   d3.select('#textTip').html('')
             // })
          }

          // $('.hitHead, .typeHead, .hitText, .typeText').remove()
          // var outMap = []
          // for(i = 0; i < outcomes.length; ++i){
          //   outMap.push({'index': i, 'outcome': outcomes[i], 'num': wedgePlays.filter(function(d){ return d.OUTCOME == outcomes[i]}).length})
          // }

          // fieldSVG.selectAll(".hitHead")
          //  .data(outMap.filter(function(d){ return ['1B', '2B', '3B', 'HR'].indexOf(d.outcome) > -1}))
          //  .enter()
          //  .append("text")
          //  .attr('class','hitHead')
          //  .text(function (d) {return outNameMap[d.outcome]})
          //  .attr('x', function(d){return 35*(d.index)+25})
          //  .attr('y', height - 30)
          //  .style('color', 'black')
          //  .style('font-size', '18px')
          //  .style('text-decoration', 'underline')
          //  .style('font-weight', 'bold')
          //  .style('text-anchor', 'middle')
          //
          //  fieldSVG.selectAll(".hitText")
          //   .data(outMap.filter(function(d){ return ['1B', '2B', '3B', 'HR'].indexOf(d.outcome) > -1}))
          //   .enter()
          //   .append("text")
          //   .attr('class','hitText')
          //   .text(function (d) {return d.num})
          //   .attr('x', function(d){return 35*(d.index)+25})
          //   .attr('y', height - 10)
          //   .style('color', 'black')
          //   .style('font-size', '18px')
          //   .style('text-anchor', 'middle')
          //
          //
          //   fieldSVG.selectAll(".typeHead")
          //    .data(outMap.filter(function(d){ return ['GB', 'FB', 'LD'].indexOf(d.outcome) > -1}))
          //    .enter()
          //    .append("text")
          //    .attr('class', 'typeHead')
          //    .text(function (d) {return outNameMap[d.outcome]})
          //    .attr('x', function(d){return 35*(d.index-4)+25})
          //    .attr('y', height - 75)
          //    .style('color', 'black')
          //    .style('font-size', '18px')
          //    .style('text-decoration', 'underline')
          //    .style('font-weight', 'bold')
          //    .style('text-anchor', 'middle')
          //
          //    fieldSVG.selectAll(".typeText")
          //     .data(outMap.filter(function(d){ return ['GB', 'FB', 'LD'].indexOf(d.outcome) > -1}))
          //     .enter()
          //     .append("text")
          //     .attr('class','typeText')
          //     .text(function (d) {return d.num})
          //     .attr('x', function(d){return 35*(d.index-4)+25})
          //     .attr('y', height - 55)
          //     .style('color', 'black')
          //     .style('font-size', '18px')
          //     .style('text-anchor', 'middle')
        })
        .style('fill', function(d){
          val = buckets[i].plays.length/infPlaysEx
          val = val > .6 ? .6 : val
          if(!isNaN(parseFloat(val))){
            return colScale(val)
          }else{
            return 'lightgray'
          }
        })

        if(infPlays > 0){
          str = (Math.round(buckets[i].plays.length/infPlaysEx*100))+"%"
        }else{
          str = ''
        }
        fieldSVG.append('text')
        .text(str)
        .attr('x', plotDict[i][0])
        .attr('y', plotDict[i][1])
        .style('font-size', '18px')
        .style('text-anchor', 'middle')
        .style('font-weight', 'bold')
        .on('click', function(){
          event.stopPropagation()
        })
      }


      for(var i = infBuckets; i < buckets.length; i++){
        start = lfLine+(fieldWidth/ofBuckets)*(i-infBuckets)
        end = lfLine+(fieldWidth/ofBuckets)*((i-infBuckets)+1)
        arc = d3.arc()
          .innerRadius(190)
          .outerRadius(400)
          .startAngle(start)
          .endAngle(end)



        field.append('path')
        .attr('d', arc)
        .attr('transform', `translate(-${width/2}, 0)`)
        .attr('class', 'ofWedge')
        .attr('index', i)
        .on('mouseenter', function(d){
          d3.select(this).moveToFront()
          d3.select(this).style('stroke-width', '3')
        })
        .on('mouseout', function(d){
          d3.select(this).style('stroke-width', '1')
        })
        .on('click', function(d){
          event.stopPropagation()
          $('.selectedWedge').removeClass('selectedWedge')
          $(this).addClass('selectedWedge')
          wedgePlays = buckets[$(this).attr('index')].plays.sort(function(a, b){
            return d3.ascending(a.date, b.date)
          })
          $("#playTable").empty()
          $('#playDiv').hide()
          if(wedgePlays.length > 0){
            $('#playDiv').show()
            d3.select('#playTable')
            .selectAll('tr.play')
            .data(wedgePlays)
            .enter()
            .append('tr')
            .attr('class', 'play')

            d3.selectAll('tr.play')
            .append('td').html(function(d){ return String(d.DATE_KEY).substring(4,6)+'-'+String(d.DATE_KEY).substring(6,8)+'-'+String(d.DATE_KEY).substring(0,4) })
            .style('font-weight', 'bold')
            .style('width', '30%')

             d3.selectAll('tr.play')
             .append('td')
             .attr('class', 'playStr')
             .html(function(d){ return d.DESCRIPTION.length > 50 ? d.DESCRIPTION.split(';')[0].substring(0,50) + '...' : d.DESCRIPTION.split(';')[0]})
             .style('width', '70%')
             // .on('mouseenter', function(d){
             //   $('#textTip').css('left', d3.event.pageX-50)
             //   $('#textTip').css('top', d3.event.pageY-50)
             //   d3.select('#textTip').html(d.DESCRIPTION)
             //   $('#textTip').show()
             //
             // })
             // .on('mouseout', function(d){
             //   $('#textTip').hide()
             //   d3.select('#textTip').html('')
             // })
          }

          // $('.hitHead, .typeHead, .hitText, .typeText').remove()
          // var outMap = []
          // for(i = 0; i < outcomes.length; ++i){
          //   outMap.push({'index': i, 'outcome': outcomes[i], 'num': wedgePlays.filter(function(d){ return d.OUTCOME == outcomes[i]}).length})
          // }
          //
          // fieldSVG.selectAll(".hitHead")
          //  .data(outMap.filter(function(d){ return ['1B', '2B', '3B', 'HR'].indexOf(d.outcome) > -1}))
          //  .enter()
          //  .append("text")
          //  .attr('class','hitHead')
          //  .text(function (d) {return outNameMap[d.outcome]})
          //  .attr('x', function(d){return 35*(d.index)+25})
          //  .attr('y', height - 30)
          //  .style('color', 'black')
          //  .style('font-size', '18px')
          //  .style('text-decoration', 'underline')
          //  .style('font-weight', 'bold')
          //  .style('text-anchor', 'middle')
          //
          //  fieldSVG.selectAll(".hitText")
          //   .data(outMap.filter(function(d){ return ['1B', '2B', '3B', 'HR'].indexOf(d.outcome) > -1}))
          //   .enter()
          //   .append("text")
          //   .attr('class','hitText')
          //   .text(function (d) {return d.num})
          //   .attr('x', function(d){return 35*(d.index)+25})
          //   .attr('y', height - 10)
          //   .style('color', 'black')
          //   .style('font-size', '18px')
          //   .style('text-anchor', 'middle')
          //
          //
          //   fieldSVG.selectAll(".typeHead")
          //    .data(outMap.filter(function(d){ return ['GB', 'FB', 'LD'].indexOf(d.outcome) > -1}))
          //    .enter()
          //    .append("text")
          //    .attr('class', 'typeHead')
          //    .text(function (d) {return outNameMap[d.outcome]})
          //    .attr('x', function(d){return 35*(d.index-4)+25})
          //    .attr('y', height - 75)
          //    .style('color', 'black')
          //    .style('font-size', '18px')
          //    .style('text-decoration', 'underline')
          //    .style('font-weight', 'bold')
          //    .style('text-anchor', 'middle')
          //
          //    fieldSVG.selectAll(".typeText")
          //     .data(outMap.filter(function(d){ return ['GB', 'FB', 'LD'].indexOf(d.outcome) > -1}))
          //     .enter()
          //     .append("text")
          //     .attr('class','typeText')
          //     .text(function (d) {return d.num})
          //     .attr('x', function(d){return 35*(d.index-4)+25})
          //     .attr('y', height - 55)
          //     .style('color', 'black')
          //     .style('font-size', '18px')
          //     .style('text-anchor', 'middle')

        })
        .style('fill', function(d){
          val = buckets[i].plays.length/ofPlays
          val = val > .6 ? .6 : val
          if(!isNaN(parseFloat(val))){
            return colScale(val)
          }else{
            return 'lightgray'
          }
        })



        if(ofPlays > 0){
          str = (Math.round(buckets[i].plays.length/ofPlays*100))+"%"
          strHR = hrBuckets[i].plays.length
        }else{
          str = ''
          strHR = ''
        }
        fieldSVG.append('text')
        .text(str)
        .attr('x', plotDict[i][0])
        .attr('y', plotDict[i][1])
        .style('font-size', '28px')
        .style('text-anchor', 'middle')
        .style('font-weight', 'bold')
        .on('click', function(){
          event.stopPropagation()
        })

        fieldSVG.append('text')
        .text(strHR)
        .attr('x', hrDict[i][0])
        .attr('y', hrDict[i][1])
        .style('font-size', '20px')
        .style('text-anchor', 'middle')
        .style('font-weight', 'bold')
      }

      fieldSVG.append('text')
      .text(name)
      .attr('x', margins.left).attr('y', margins.top*2.5)
      .style('font-size', '26px')

      fieldSVG.append('text')
      .text(`#${num}`)
      .attr('x', margins.left).attr('y', margins.top*5.5)
      .style('font-size', '26px')

      fieldSVG.append('text')
      .text(`Tot. INF BIP: ${infPlays}`)
      .attr('x', width - margins.right).attr('y', margins.top*2.3)
      .style('font-size', '20px')
      .style('text-anchor', 'end')

      fieldSVG.append('text')
      .text(`Tot. OF BIP: ${ofPlays}`)
      .attr('x', width - margins.right).attr('y', margins.top*4.8)
      .style('font-size', '20px')
      .style('text-anchor', 'end')

      $('#playDiv').show()
      d3.select('#playTable')
      .selectAll('tr.play')
      .data(plays.sort(function(a, b){
        return d3.ascending(a.date, b.date)
      }))
      .enter()
      .append('tr')
      .attr('class', 'play')


      $('.hitHead, .typeHead, .hitText, .typeText').remove()
      var outMap = []
      for(i = 0; i < outcomes.length; ++i){
        outMap.push({'index': i, 'outcome': outcomes[i], 'num': plays.filter(function(d){ return d.OUTCOME == outcomes[i]}).length})
      }

      fieldSVG.selectAll(".hitHead")
       .data(outMap.filter(function(d){ return ['1B', '2B', '3B', 'HR'].indexOf(d.outcome) > -1}))
       .enter()
       .append("text")
       .attr('class','hitHead')
       .text(function (d) {return outNameMap[d.outcome]})
       .attr('x', function(d){return 35*(d.index)+25})
       .attr('y', height - 30)
       .style('color', 'black')
       .style('font-size', '18px')
       .style('text-decoration', 'underline')
       .style('font-weight', 'bold')
       .style('text-anchor', 'middle')

       fieldSVG.selectAll(".hitText")
        .data(outMap.filter(function(d){ return ['1B', '2B', '3B', 'HR'].indexOf(d.outcome) > -1}))
        .enter()
        .append("text")
        .attr('class','hitText')
        .text(function (d) {return d.num})
        .attr('x', function(d){return 35*(d.index)+25})
        .attr('y', height - 10)
        .style('color', 'black')
        .style('font-size', '18px')
        .style('text-anchor', 'middle')


        fieldSVG.selectAll(".typeHead")
         .data(outMap.filter(function(d){ return ['GB', 'FB', 'LD'].indexOf(d.outcome) > -1}))
         .enter()
         .append("text")
         .attr('class', 'typeHead')
         .text(function (d) {return outNameMap[d.outcome]})
         .attr('x', function(d){return 35*(d.index-4)+25})
         .attr('y', height - 75)
         .style('color', 'black')
         .style('font-size', '18px')
         .style('text-decoration', 'underline')
         .style('font-weight', 'bold')
         .style('text-anchor', 'middle')

         fieldSVG.selectAll(".typeText")
          .data(outMap.filter(function(d){ return ['GB', 'FB', 'LD'].indexOf(d.outcome) > -1}))
          .enter()
          .append("text")
          .attr('class','typeText')
          .text(function (d) {return d.num})
          .attr('x', function(d){return 35*(d.index-4)+25})
          .attr('y', height - 55)
          .style('color', 'black')
          .style('font-size', '18px')
          .style('text-anchor', 'middle')


      d3.selectAll('tr.play')
      .append('td').html(function(d){ return String(d.DATE_KEY).substring(4,6)+'-'+String(d.DATE_KEY).substring(6,8)+'-'+String(d.DATE_KEY).substring(0,4) })
      .style('font-weight', 'bold')
      .style('width', '30%')

       d3.selectAll('tr.play')
       .append('td')
       .attr('class', 'playStr')
       .html(function(d){ return d.DESCRIPTION.length > 50 ? d.DESCRIPTION.split(';')[0].substring(0,50) + '...' : d.DESCRIPTION.split(';')[0]})
       .style('width', '70%')

       $.get(Flask.url_for('getStats', {name: FULL_NAME, pos: POSITION, num: NUMBER, fresh: FRESH, year: YEAR, team: TEAM_KEY}), function(d){


         fieldSVG.selectAll(".statHead")
          .data(stats.slice(0,3))
          .enter()
          .append("text")
          .attr('class','statHead')
          .text(function (e) {return e})
          .attr('x', function(e, i){return 45*i+(width-110)})
          .attr('y', height - 75)
          .style('color', 'black')
          .style('font-size', '18px')
          .style('text-decoration', 'underline')
          .style('font-weight', 'bold')
          .style('text-anchor', 'middle')
          .style('padding-left', '3px')
          .style('padding-right', '3px')

           fieldSVG.selectAll(".statHead2")
            .data(stats.slice(3,7))
            .enter()
            .append("text")
            .attr('class','statHead2')
            .text(function (e) {return e})
            .attr('x', function(e, i){return 35*i+(width-123)})
            .attr('y', height - 30)
            .style('color', 'black')
            .style('font-size', '18px')
            .style('text-decoration', 'underline')
            .style('font-weight', 'bold')
            .style('text-anchor', 'middle')
            .style('padding-left', '3px')
            .style('padding-right', '3px')

            if(JSON.parse(d).length > 0){
              statData = JSON.parse(d)[0]

              fieldSVG.selectAll(".stat")
               .data(stats.slice(0,3))
               .enter()
               .append("text")
               .attr('class','stat')
               .text(function (e) {return String(d3.format('.3f')(parseFloat(statData[e]))).replace('0.', '.')})
               .attr('x', function(e, i){return 45*i+(width-110)})
               .attr('y', height - 55)
               .style('color', 'black')
               .style('font-size', '16px')
               .style('font-weight', 'bold')
               .style('text-anchor', 'middle')
               .style('padding-left', '3px')
               .style('padding-right', '3px')

              fieldSVG.selectAll(".stat2")
               .data(stats.slice(3,7))
               .enter()
               .append("text")
               .attr('class','stat2')
               .text(function (e) {return String(parseFloat(statData[e]))})
               .attr('x', function(e, i){return 35*i+(width-123)})
               .attr('y', height - 10)
               .style('color', 'black')
               .style('font-size', '16px')
               .style('font-weight', 'bold')
               .style('text-anchor', 'middle')
               .style('padding-left', '3px')
               .style('padding-right', '3px')
            }
       })
  }

  $(function(){
      $("#searchTeam").autocomplete({
      source: function(request, response){
        results = $.ui.autocomplete.filter(teams, request.term);
        response(results.slice(0,10))
      },
      minLength:2,
      select: function(event, ui){
        $("#playTable").empty()
        $('#playDiv').hide()
        $('#searchTeam').val(ui.item.label)
        $('#field').empty()
        var name = ui.item.value.name
        var key = ui.item.value.key
        $('#name').text(ui.item.value.name)
        $.get("{{url_for('updateDB')}}?key="+key, function(d){
          var status = JSON.parse(d)
          $("#teamBody").empty()
          addRows(status)
          addData($('.selectedSpan').text().replace(/\s+/g,''), key, name)
        })



        return false
      },
      focus: function(event, ui) {
        event.preventDefault();
        $('#searchTeam').val(ui.item.label);
    }
    })
  })
</script>

{% endblock %}
