<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} Spray Charts {% endblock %}

{% block content %}
<html>
  <div id = body>
  <table id = headTable>
    <tr>
      <td id = name><h1 id = pageHead>  </h1> </td>
      <td id = search><input id =  searchTeam type="text" placeholder="Select Team..."></td>
    </tr>
  </table>
  <div id = container>
    <div id = rosterDiv>
      <span id = teamName> No Team Selected </span>
      <table id = roster>

      </table>
    </div>
    <div id = fieldDiv>
      <svg id = field height=450 width=650></svg>
      <div hidden id = playDiv>
        <table id = playTable>
        </table>
      </div>
    </div>
  </div>
  <div hidden id = toolTip> </div>
</div>

<div hidden id = textTip> </div>

</html>

<style>

#textTip{
  max-width: 400px;
  background-color: lightgray;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  padding: 10px;
  position: absolute;
}
#headTable{
  width: 100%;
  margin-top: 5px
}
#teamName{
  font-size: 40px;
  font-weight: bold
}


#field{
  border-radius: 5px;
  border: 2px solid slategray;
  background-color: rgb(254, 246, 235);
}


.selected{
  background-color: rgb(254, 246, 235);
  color: slategray;
}

#container{
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 1200px){
  #container{
    flex-direction: column;
    justify-content: space-evenly;
  }
  #body{
    width: 70% !important;
    margin-left: 15% !important;
    text-align: center;
  }
  #rosterDiv{
    max-height: 200px!important;
    margin: auto;
  }

  #playDiv{
    max-height: 200px!important;
  }

  #fieldDiv{
    margin:auto;
  }

  #headTable{
    width: 650px;
    margin: auto;
  }

}



#rosterDiv{
  text-align: center;
  border: 2px solid rgb(254, 246, 235);
  background-color: slategray;
  color: rgb(254, 246, 235);
  border-radius: 5px;
  box-sizing: 0px 0px 5px gray;
  margin-bottom: 20px;
  max-height: 450px;
  overflow: scroll;
  width: 650px;
}

#roster{
  border-collapse: collapse;
  width: 96%;
  margin-left: 2%;
  font-weight: normal;
}


#roster td{
  padding: 5px;
  font-size: 20px;
}

#roster tr{
  padding: 5px;
  border-bottom: 1px solid rgb(254, 246, 235);
}

#roster tr.row:hover{
  background-color: rgb(254, 246, 235);
  color: slategray;
  cursor: pointer;
}


#playDiv{
  text-align: center;
  border: 2px solid rgb(254, 246, 235);
  background-color: slategray;
  color: rgb(254, 246, 235);
  border-radius: 5px;
  box-sizing: 0px 0px 5px gray;
  margin-top: 20px;
  max-height: 200px;
  overflow: scroll;
  width: 650px;
}


#playTable{
  border-collapse: collapse;
  width: 96%;
  margin-left: 2%;
  font-weight: normal;
  margin:2px;
}


#playTable td{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}


#playTable tr{
  border-bottom: 1px solid rgb(254, 246, 235);
  padding: 5px;
}


#body{
  width: 98%;
  margin-left: 1%
}

#name{
  vertical-align: bottom;
}

#search{
  text-align: right;
}

#searchTeam{
  vertical-align: bottom;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 3px;
  width: 250px;
  box-shadow: 0px 0px 5px slategray;
  background-color: rgb(254, 246, 235)
}


.infWedge, .ofWedge{
  stroke: black;
  cursor: pointer
}

.selectedWedge{
  stroke-width: 3 !important;
}



</style>


<script>
  const init = {{data|safe}}
  const teams = init.map(function(d){ return {'label': d.NAME+ ' - ' + d.YEAR, 'value': {'key': d.TEAM_KEY, 'year': d.YEAR, 'name': d.NAME}}})
  const teams2 = init.map(function(d){ return d.NAME})

  $('#searchTeam').click(function(d){
      $("#searchTeam").val('')
  });
  function makeSpray(plays, name, num){

    $("#playTable").empty()
    $('#field').empty()
    d3.selection.prototype.moveToFront = function() {
      return this.each(function(){
        this.parentNode.appendChild(this);
      });
    };
    var colScale = d3.scaleLinear().domain([0,1]).range(['white', 'red'])

    var plays = plays.filter(function(d){ return d.LOCATION != null & d.LOCATION != 'null' & d.OUTCOME != null})
    let buckets = []
    let hrBuckets = []
    var infPlays = plays.filter(function(d){ return ['3b', 'third base', 'ss', 'shortstop',
    'through the left side', 'up the middle', '2b', 'second base', 'through the right side',
    '1b', 'first base'].indexOf(d.LOCATION) > -1})

    var ofPlays = plays.filter(function(d){ return ['lf', 'left', 'lf line', 'left center',
    'cf', 'center', 'rf', 'right', 'rf line', 'right center'].indexOf(d.LOCATION) > -1})

    plays = infPlays.concat(ofPlays)

    infPlays = infPlays.length
    ofPlays = ofPlays.length

    const locDict = {
      '1': ['3b', 'third base'],
      '2': ['ss', 'shortstop', 'through the left side'],
      '3': ['2b', 'second base', 'through the right side'],
      '4': ['1b', 'first base'],
      '5': ['lf', 'left', 'lf line', 'left center'],
      '6': ['cf', 'center'],
      '7': ['rf', 'right', 'rf line', 'right center'],
      '8': ['up the middle']
    }

    const plotDict = {
      '0': [240,320],
      '1': [295,300],
      '2': [355,300],
      '3': [410,320],
      '4': [165, 200],
      '5': [325, 150],
      '6': [485, 200]
    }

    const hrDict = {
      '4': [125, 80],
      '5': [325, 30],
      '6': [525, 80]
    }

    const outcomes = ['1B', '2B', '3B', 'HR', 'LD','FB', 'GB']
    const outNameMap = {
      '1B': '1B',
      '2B': '2B',
      '3B': '3B',
      'HR': 'HR',
      'LD': 'LO',
      'FB': 'FO',
      'GB': 'GO'
    }

    for(loc in locDict){
      if(loc < 8){
        buckets.push({
         'loc': loc,
         'plays': plays.filter(function(d){return locDict[loc].indexOf(d.LOCATION.replace(';','')) > -1})
        })
        hrBuckets.push({
         'loc': loc,
         'plays': plays.filter(function(d){return locDict[loc].indexOf(d.LOCATION.replace(';','')) > -1 & d.OUTCOME == 'HR'})
        })
      }else{
        middle = plays.filter(function(d){return locDict[loc].indexOf(d.LOCATION.replace(';','')) > -1})
        for(i = 0; i < middle.length; ++i){
          ssRate = (buckets[1].plays.length+buckets[0].plays.length)/(infPlays)
          if(Math.random() < ssRate){
            buckets[1].plays.push(middle[i])
          }else{
            buckets[2].plays.push(middle[i])
          }
        }
      }
    }


    var margins = {'bottom': '10', 'left': '5', 'right': '5', 'top': '10'}
    var height = d3.select('#field').attr('height')
    var width = d3.select('#field').attr('width')
    var field = d3.select('#field').append('g').attr('transform', `translate(${width}, ${height-margins.bottom})`)
    var fieldSVG = d3.select('#field').on('click', function(d){ makeSpray(plays, FULL_NAME, NUMBER)})

    var lfLine = -Math.PI/4
    var fieldWidth = Math.PI/2
    var ofBuckets = 3
    var infBuckets = buckets.length - ofBuckets

      for(var i = 0; i < infBuckets; ++i){
        var start = lfLine+(fieldWidth/infBuckets)*i
        var end = lfLine+(fieldWidth/infBuckets)*(i+1)
        var arc = d3.arc()
          .innerRadius(0)
          .outerRadius(190)
          .startAngle(start)
          .endAngle(end);

        field.append('path')
        .attr('d', arc)
        .attr('transform', `translate(-${width/2}, 0)`)
        .attr('class', 'infWedge')
        .attr('index', i)
        .on('mouseenter', function(d){
          d3.select(this).moveToFront()
          d3.select(this).style('stroke-width', '3')
        })
        .on('mouseout', function(d){
          d3.select(this).style('stroke-width', '1')
        })
        .on('click', function(d){
          event.stopPropagation()
          $('.selectedWedge').removeClass('selectedWedge')
          $(this).addClass('selectedWedge')
          wedgePlays = buckets[$(this).attr('index')].plays.sort(function(a, b){
            return d3.ascending(a.DATE_KEY, b.DATE_KEY)
          })
          $("#playTable").empty()
          $('#playDiv').hide()
          if(wedgePlays.length > 0){
            $('#playDiv').show()
            d3.select('#playTable')
            .selectAll('tr.play')
            .data(wedgePlays)
            .enter()
            .append('tr')
            .attr('class', 'play')

            d3.selectAll('tr.play')
            .append('td').html(function(d){ return String(d.DATE_KEY).substring(4,6)+'-'+String(d.DATE_KEY).substring(6,8)+'-'+String(d.DATE_KEY).substring(0,4) })
            .style('font-weight', 'bold')
            .style('width', '30%')

             d3.selectAll('tr.play')
             .append('td')
             .attr('class', 'playStr')
             .html(function(d){ return d.DESCRIPTION.length > 50 ? d.DESCRIPTION.split(';')[0].substring(0,50) + '...' : d.DESCRIPTION.split(';')[0]})
             .style('width', '70%')
             // .on('mouseenter', function(d){
             //   $('#textTip').css('left', d3.event.pageX-50)
             //   $('#textTip').css('top', d3.event.pageY-50)
             //   d3.select('#textTip').html(d.DESCRIPTION)
             //   $('#textTip').show()
             //
             // })
             // .on('mouseout', function(d){
             //   $('#textTip').hide()
             //   d3.select('#textTip').html('')
             // })
          }

          $('.hitHead, .typeHead, .hitText, .typeText').remove()
          var outMap = []
          for(i = 0; i < outcomes.length; ++i){
            outMap.push({'index': i, 'outcome': outcomes[i], 'num': wedgePlays.filter(function(d){ return d.OUTCOME == outcomes[i]}).length})
          }

          fieldSVG.selectAll(".hitHead")
           .data(outMap.filter(function(d){ return ['1B', '2B', '3B', 'HR'].indexOf(d.outcome) > -1}))
           .enter()
           .append("text")
           .attr('class','hitHead')
           .text(function (d) {return outNameMap[d.outcome]})
           .attr('x', function(d){return 35*(d.index)+25})
           .attr('y', height - 50)
           .style('color', 'black')
           .style('font-size', '18px')
           .style('text-decoration', 'underline')
           .style('font-weight', 'bold')
           .style('text-anchor', 'middle')

           fieldSVG.selectAll(".hitText")
            .data(outMap.filter(function(d){ return ['1B', '2B', '3B', 'HR'].indexOf(d.outcome) > -1}))
            .enter()
            .append("text")
            .attr('class','hitText')
            .text(function (d) {return d.num})
            .attr('x', function(d){return 35*(d.index)+25})
            .attr('y', height - 30)
            .style('color', 'black')
            .style('font-size', '18px')
            .style('text-anchor', 'middle')


            fieldSVG.selectAll(".typeHead")
             .data(outMap.filter(function(d){ return ['GB', 'FB', 'LD'].indexOf(d.outcome) > -1}))
             .enter()
             .append("text")
             .attr('class', 'typeHead')
             .text(function (d) {return outNameMap[d.outcome]})
             .attr('x', function(d){return 35*(d.index-4)+25})
             .attr('y', height - 105)
             .style('color', 'black')
             .style('font-size', '18px')
             .style('text-decoration', 'underline')
             .style('font-weight', 'bold')
             .style('text-anchor', 'middle')

             fieldSVG.selectAll(".typeText")
              .data(outMap.filter(function(d){ return ['GB', 'FB', 'LD'].indexOf(d.outcome) > -1}))
              .enter()
              .append("text")
              .attr('class','typeText')
              .text(function (d) {return d.num})
              .attr('x', function(d){return 35*(d.index-4)+25})
              .attr('y', height - 85)
              .style('color', 'black')
              .style('font-size', '18px')
              .style('text-anchor', 'middle')
        })
        .style('fill', function(d){
          val = buckets[i].plays.length/infPlays
          val = val > .6 ? .6 : val
          if(!isNaN(parseFloat(val))){
            return colScale(val)
          }else{
            return 'lightgray'
          }
        })

        if(infPlays > 0){
          str = (Math.round(buckets[i].plays.length/infPlays*100))+"%"
        }else{
          str = ''
        }
        fieldSVG.append('text')
        .text(str)
        .attr('x', plotDict[i][0])
        .attr('y', plotDict[i][1])
        .style('font-size', '18px')
        .style('text-anchor', 'middle')
        .style('font-weight', 'bold')
      }


      for(var i = infBuckets; i < buckets.length; i++){
        start = lfLine+(fieldWidth/ofBuckets)*(i-infBuckets)
        end = lfLine+(fieldWidth/ofBuckets)*((i-infBuckets)+1)
        arc = d3.arc()
          .innerRadius(190)
          .outerRadius(400)
          .startAngle(start)
          .endAngle(end)



        field.append('path')
        .attr('d', arc)
        .attr('transform', `translate(-${width/2}, 0)`)
        .attr('class', 'ofWedge')
        .attr('index', i)
        .on('mouseenter', function(d){
          d3.select(this).moveToFront()
          d3.select(this).style('stroke-width', '3')
        })
        .on('mouseout', function(d){
          d3.select(this).style('stroke-width', '1')
        })
        .on('click', function(d){
          event.stopPropagation()
          $('.selectedWedge').removeClass('selectedWedge')
          $(this).addClass('selectedWedge')
          wedgePlays = buckets[$(this).attr('index')].plays.sort(function(a, b){
            return d3.ascending(a.date, b.date)
          })
          $("#playTable").empty()
          $('#playDiv').hide()
          if(wedgePlays.length > 0){
            $('#playDiv').show()
            d3.select('#playTable')
            .selectAll('tr.play')
            .data(wedgePlays)
            .enter()
            .append('tr')
            .attr('class', 'play')

            d3.selectAll('tr.play')
            .append('td').html(function(d){ return String(d.DATE_KEY).substring(4,6)+'-'+String(d.DATE_KEY).substring(6,8)+'-'+String(d.DATE_KEY).substring(0,4) })
            .style('font-weight', 'bold')
            .style('width', '30%')

             d3.selectAll('tr.play')
             .append('td')
             .attr('class', 'playStr')
             .html(function(d){ return d.DESCRIPTION.length > 50 ? d.DESCRIPTION.substring(0,50) + '...' : d.DESCRIPTION})
             .style('width', '70%')
             // .on('mouseenter', function(d){
             //   $('#textTip').css('left', d3.event.pageX-50)
             //   $('#textTip').css('top', d3.event.pageY-50)
             //   d3.select('#textTip').html(d.DESCRIPTION)
             //   $('#textTip').show()
             //
             // })
             // .on('mouseout', function(d){
             //   $('#textTip').hide()
             //   d3.select('#textTip').html('')
             // })
          }

          $('.hitHead, .typeHead, .hitText, .typeText').remove()
          var outMap = []
          for(i = 0; i < outcomes.length; ++i){
            outMap.push({'index': i, 'outcome': outcomes[i], 'num': wedgePlays.filter(function(d){ return d.OUTCOME == outcomes[i]}).length})
          }

          fieldSVG.selectAll(".hitHead")
           .data(outMap.filter(function(d){ return ['1B', '2B', '3B', 'HR'].indexOf(d.outcome) > -1}))
           .enter()
           .append("text")
           .attr('class','hitHead')
           .text(function (d) {return outNameMap[d.outcome]})
           .attr('x', function(d){return 35*(d.index)+25})
           .attr('y', height - 50)
           .style('color', 'black')
           .style('font-size', '18px')
           .style('text-decoration', 'underline')
           .style('font-weight', 'bold')
           .style('text-anchor', 'middle')

           fieldSVG.selectAll(".hitText")
            .data(outMap.filter(function(d){ return ['1B', '2B', '3B', 'HR'].indexOf(d.outcome) > -1}))
            .enter()
            .append("text")
            .attr('class','hitText')
            .text(function (d) {return d.num})
            .attr('x', function(d){return 35*(d.index)+25})
            .attr('y', height - 30)
            .style('color', 'black')
            .style('font-size', '18px')
            .style('text-anchor', 'middle')


            fieldSVG.selectAll(".typeHead")
             .data(outMap.filter(function(d){ return ['GB', 'FB', 'LD'].indexOf(d.outcome) > -1}))
             .enter()
             .append("text")
             .attr('class', 'typeHead')
             .text(function (d) {return outNameMap[d.outcome]})
             .attr('x', function(d){return 35*(d.index-4)+25})
             .attr('y', height - 105)
             .style('color', 'black')
             .style('font-size', '18px')
             .style('text-decoration', 'underline')
             .style('font-weight', 'bold')
             .style('text-anchor', 'middle')

             fieldSVG.selectAll(".typeText")
              .data(outMap.filter(function(d){ return ['GB', 'FB', 'LD'].indexOf(d.outcome) > -1}))
              .enter()
              .append("text")
              .attr('class','typeText')
              .text(function (d) {return d.num})
              .attr('x', function(d){return 35*(d.index-4)+25})
              .attr('y', height - 85)
              .style('color', 'black')
              .style('font-size', '18px')
              .style('text-anchor', 'middle')

        })
        .style('fill', function(d){
          val = buckets[i].plays.length/ofPlays
          val = val > .6 ? .6 : val
          if(!isNaN(parseFloat(val))){
            return colScale(val)
          }else{
            return 'lightgray'
          }
        })



        if(ofPlays > 0){
          str = (Math.round(buckets[i].plays.length/ofPlays*100))+"%"
          strHR = hrBuckets[i].plays.length
        }else{
          str = ''
          strHR = ''
        }
        fieldSVG.append('text')
        .text(str)
        .attr('x', plotDict[i][0])
        .attr('y', plotDict[i][1])
        .style('font-size', '28px')
        .style('text-anchor', 'middle')
        .style('font-weight', 'bold')

        fieldSVG.append('text')
        .text(strHR)
        .attr('x', hrDict[i][0])
        .attr('y', hrDict[i][1])
        .style('font-size', '20px')
        .style('text-anchor', 'middle')
        .style('font-weight', 'bold')
      }

      fieldSVG.append('text')
      .text(name)
      .attr('x', margins.left).attr('y', margins.top*2.5)
      .style('font-size', '26px')

      fieldSVG.append('text')
      .text(`#${num}`)
      .attr('x', margins.left).attr('y', margins.top*5.5)
      .style('font-size', '26px')

      fieldSVG.append('text')
      .text(`Total Inf BIP: ${infPlays}`)
      .attr('x', width - margins.right).attr('y', height-margins.bottom)
      .style('font-size', '22px')
      .style('text-anchor', 'end')

      fieldSVG.append('text')
      .text(`Total OF BIP: ${ofPlays}`)
      .attr('x', width - margins.right).attr('y', margins.top*2.5)
      .style('font-size', '22px')
      .style('text-anchor', 'end')

      $('#playDiv').show()
      d3.select('#playTable')
      .selectAll('tr.play')
      .data(plays.sort(function(a, b){
        return d3.ascending(a.date, b.date)
      }))
      .enter()
      .append('tr')
      .attr('class', 'play')


      $('.hitHead, .typeHead, .hitText, .typeText').remove()
      var outMap = []
      for(i = 0; i < outcomes.length; ++i){
        outMap.push({'index': i, 'outcome': outcomes[i], 'num': plays.filter(function(d){ return d.OUTCOME == outcomes[i]}).length})
      }

      fieldSVG.selectAll(".hitHead")
       .data(outMap.filter(function(d){ return ['1B', '2B', '3B', 'HR'].indexOf(d.outcome) > -1}))
       .enter()
       .append("text")
       .attr('class','hitHead')
       .text(function (d) {return outNameMap[d.outcome]})
       .attr('x', function(d){return 35*(d.index)+25})
       .attr('y', height - 50)
       .style('color', 'black')
       .style('font-size', '18px')
       .style('text-decoration', 'underline')
       .style('font-weight', 'bold')
       .style('text-anchor', 'middle')

       fieldSVG.selectAll(".hitText")
        .data(outMap.filter(function(d){ return ['1B', '2B', '3B', 'HR'].indexOf(d.outcome) > -1}))
        .enter()
        .append("text")
        .attr('class','hitText')
        .text(function (d) {return d.num})
        .attr('x', function(d){return 35*(d.index)+25})
        .attr('y', height - 30)
        .style('color', 'black')
        .style('font-size', '18px')
        .style('text-anchor', 'middle')


        fieldSVG.selectAll(".typeHead")
         .data(outMap.filter(function(d){ return ['GB', 'FB', 'LD'].indexOf(d.outcome) > -1}))
         .enter()
         .append("text")
         .attr('class', 'typeHead')
         .text(function (d) {return outNameMap[d.outcome]})
         .attr('x', function(d){return 35*(d.index-4)+25})
         .attr('y', height - 105)
         .style('color', 'black')
         .style('font-size', '18px')
         .style('text-decoration', 'underline')
         .style('font-weight', 'bold')
         .style('text-anchor', 'middle')

         fieldSVG.selectAll(".typeText")
          .data(outMap.filter(function(d){ return ['GB', 'FB', 'LD'].indexOf(d.outcome) > -1}))
          .enter()
          .append("text")
          .attr('class','typeText')
          .text(function (d) {return d.num})
          .attr('x', function(d){return 35*(d.index-4)+25})
          .attr('y', height - 85)
          .style('color', 'black')
          .style('font-size', '18px')
          .style('text-anchor', 'middle')


      d3.selectAll('tr.play')
      .append('td').html(function(d){ return String(d.DATE_KEY).substring(4,6)+'-'+String(d.DATE_KEY).substring(6,8)+'-'+String(d.DATE_KEY).substring(0,4) })
      .style('font-weight', 'bold')
      .style('width', '30%')

       d3.selectAll('tr.play')
       .append('td')
       .attr('class', 'playStr')
       .html(function(d){ return d.DESCRIPTION.length > 50 ? d.DESCRIPTION.split(';')[0].substring(0,50) + '...' : d.DESCRIPTION.split(';')[0]})
       .style('width', '70%')
       // .on('mouseenter', function(d){
       //   $('#textTip').css('left', d3.event.pageX-50)
       //   $('#textTip').css('top', d3.event.pageY-50)
       //   d3.select('#textTip').html(d.DESCRIPTION)
       //   $('#textTip').show()
       //
       // })
       // .on('mouseout', function(d){
       //   $('#textTip').hide()
       //   d3.select('#textTip').html('')
       // })


  }


  function aggOuts(data){

  }

  $(function(){
      $("#searchTeam").autocomplete({
      source: teams,
      minLength:2,
      select: function(event, ui){
        $("#playTable").empty()
        $('#playDiv').hide()
        $('#searchTeam').val(ui.item.label)
        $('#field').empty()
        var name = ui.item.value.name
        var key = ui.item.value.key
        var year = ui.item.value.year
        var col = 'ros'
        $.get(Flask.url_for('getData', {key: key, year: year, type: col}), function(data){
          if(data.length > 0){
            data = JSON.parse(data)
            $("#teamName").text(ui.item.label)
            $("#roster").empty()

            d3.select('#roster').append('tr')
            .html("<th>Name</th><th>Pos</th><th>Num</th><th> Year </th>")

            d3.select('#roster')
            .selectAll('tr.row')
            .data(data, function(d){ return d.PLAYER_KEY})
            .enter()
            .append('tr')
            .attr('class', 'row')
            .on('click', function(d){
              $("#playTable").empty()
              $('#playDiv').hide()
              $('.selected').removeClass('selected')
              $(this).addClass('selected')
              $.get(Flask.url_for('getData', {key: d.PLAYER_KEY, year: d.YEAR, type: 'pbpP'}), function(data){
                data = JSON.parse(data)
                FULL_NAME = d.FULL_NAME
                NUMBER = d.NUMBER
                makeSpray(data, FULL_NAME, NUMBER)
              })
            })

            d3.selectAll('tr.row')
            .append('td').html(function(d){ return d.FULL_NAME })

             d3.selectAll('tr.row')
             .append('td')
             .html(function(d){ return d.POSITION} )

             d3.selectAll('tr.row')
             .append('td')
             .html(function(d){ return d.NUMBER} )

             d3.selectAll('tr.row')
             .append('td')
             .html(function(d){ return d.CLASS} )





          }
        })
        return false
      },
      focus: function(event, ui) {
        event.preventDefault();
        $('#searchTeam').val(ui.item.label);
    }
    })
  })
</script>

{% endblock %}
